.texto-menor {
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.verde-limao{
    color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF !important;
}

.posicao{
    position: absolute;
    top: 40%;
}

@media (max-width: 920px) and (min-width: 750px) {
    .posicao {
        top: 60% !important; /* Ajuste o valor conforme necessário */
    }
}
