.texto-menor {
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.verde-limao{
    color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF !important;
}

.posicao{
    top: 40%;
}

@media(max-width: 990px){
    .posicao{
        top:70% !important;
    }
}
