.texto-menor {
    font-size: 13px;
}

.divs-facilidades{
    width: 325px;
}

.verde-limao{
    color: #DAFF01;
}

.botao-lilas {
    background-color: #9353FF !important;
}

.posicao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza perfeitamente */
    color: rgb(255, 255, 255);
    text-align: center; /* Garante alinhamento central do texto */
}

@media (max-width: 992px) {
    .posicao {
        top: 70%; /* Ajusta a posição vertical */
        left: 50%; /* Ainda centralizado horizontalmente */
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 993px) {  
    .banner3 {
        left: 25%;

    }

    .banner2 {
        left: 75%;
        white-space: nowrap;

    }
}
